 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading"><%= @user %></h2>
       </div>
     </div>
   </div>
 </div>
</br>

 <div class="row">
   <div class="col-md-8">
         <%= render @items %>
   </div>
 </div>