    <br/>
    <div class="jumbotron">
      <h1>PendList</h1>
        <p>Don't forget it!</p>
        <p> 
          <% if !current_user %>
            <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
          <% end %>
        </p>
    </div>