<tr>
     <%= form_for [list, item] do |f| %>
       <td class="center vertical-center"><%=Time.now.strftime('%d-%b')%></td>
       <td class="form-group">
         <%= f.text_field :name, class: 'form-control', placeholder: "Add new item" %>
       </td>
       <td class="center vertical-center">7</td>
       <td class="form-group vertical-center center">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </td>
     <% end %>
</tr>