<tr>
     <%= form_for [list, item] do |f| %>
       <td class="form-group" colspan="2">
         <%= f.label "Add new item" %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Enter item name" %>
       </td>
       <td class="form-group vertical-center">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </td>
     <% end %>
</tr>