@import 'bootstrap';

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.container .jumbotron {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  background-color: #202020;
  color: #fff;
}

.container .todolist {
  background-color: #e0e0e0;
  color: #000;   
}

.container .todolist .col-md-8 {
  text-align: left;
}

.center {
  text-align: center
}

.checkbox {
  margin-left: 20px;
}

.todo {
  margin-top: 20px;
  width: 100%;
}

.vertical-center {
  vertical-align: middle ! important
}